version: "3"
services:
  viper:
    image: registry.cn-hongkong.aliyuncs.com/toys/viper:latest
    container_name: viper-container
    network_mode: "host"
    restart: always
    command: ["diypassword"]
    volumes:
      - /root/viper/loot:/root/.msf4/loot
      - /root/viper/db:/root/viper/Docker/db
      - /root/viper/redis:/var/lib/redis