django==3.2.6
channels==3.0.4
attrs==23.1.0
requests
apscheduler
djangorestframework
redis
django-redis
rsa
daphne
channels_redis
python-telegram-bot
pycryptodome
cryptography
jinja2
unicorn
pyyaml
chardet
qqwry-py3
#donut-shellcode
geoip2
dnslib
zoomeye
asgi_redis