requests
apscheduler
django
djangorestframework
redis
django-redis
rsa
channels
daphne
channels_redis
python-telegram-bot
pycryptodome
cryptography
jinja2
unicorn
pyyaml
chardet
qqwry-py3
#donut-shellcode
#geoip2